<h1 class="header1">My Goals</h1>
<hr>
<ul>
  <div *ngFor="let goal of goals; let i = index;">
    <li appStrikethrough>{{ goal.name }} due on {{goal.completeDate | date |uppercase}}</li>
    <button class="btn btn-primary" (click)="toggleDetails(i)">Toggle details</button>
    <app-goaldetail *ngIf='goal.showdescription' [goal]='goal' (isComplete)='completeGoal($event,i)'></app-goaldetail>
  </div>

</ul>
<p *ngIf='goals.length > 5'>You have too many goals</p>


<!-- *ngIf='goal.showdescription' -->
